.boxPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    margin-bottom: 16px;
  }
  .list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 7px;

    .item {
      width: 48%;
      aspect-ratio: 1/1;

      .img {
        aspect-ratio: 1/1;
      }
    }
  }
}

.boxCount {
  position: relative;

  .descrNumber {
    color: var(--white);
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
  }

  .svg {
    position: absolute;
    right: 10px;
    top: 0;
  }
}

.boxPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;

  .swiper {
    width: 100%;

    .slide {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .boxImg {
        width: 100%;
    //   aspect-ratio: 16/9;

      .img {
        width: 100%;
        // aspect-ratio: 16/9;
      }
    }
  }
}