.box {
  padding: 0 15px 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .boxInfo {
    display: flex;
    align-items: center;

    .svgImgBox {
      width: 44px;
      height: 44px;
      background-color: var(--gray-primary);
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8px;

      .imgSvg {
        border-radius: 100px;
      }
    }

    .boxName {
      .name {
        font-weight: 500;
        font-size: 12px;
        line-height: 133%;
      }

      .lvl {
        font-weight: 500;
        font-size: 10px;
        line-height: 140%;
        color: var(--gray-tretiary);
      }
    }
  }

  .boxCoin {
    display: flex;
    gap: 4px;

    .coinBox {
      display: flex;
      align-items: center;
      border-radius: 8px;
      padding: 4px 8px;
      background: #001833;

      .imgCoin {
        width: 14px;
        height: 14px;
        margin-right: 2px;
      }

      .numberCoin {
        font-weight: 500;
        font-size: 12px;
        line-height: 133%;
        padding-top: 2px;
      }
    }
  }
}

.skeletonBox {
  height: 44px;
  width: 100%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .skeletonInfoUser {
    display: flex;
    align-items: center;

    .skeletonAvatar {
      width: 44px;
      height: 44px;
      background: linear-gradient(90deg, #a5a7a7 0%, #404141 100%);
      border-radius: 100%;
      margin-right: 8px;
    }

    .skeletonName {
      height: 15px;
      width: 140px;
      border-radius: 8px;
      background: linear-gradient(90deg, #a5a7a7 0%, #404141 100%);
      margin-bottom: 5px;
    }

    .skeletonLvl {
      height: 15px;
      width: 100px;
      border-radius: 8px;
      background: linear-gradient(90deg, #a5a7a7 0%, #404141 100%);
    }
  }

  .skeletonBoxCoin {
    display: flex;
    gap: 4px;

    .skeletonCoin {
      height: 24px;
      width: 53px;
      border-radius: 8px;
      background: linear-gradient(90deg, #a5a7a7 0%, #404141 100%);
    }
  }
}
