.boxList {

    .infoBoxFriend {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;

        .valueFriend {
            font-weight: 700;
            font-size: 18px;
            line-height: 133%;
            color: var(--gray-text-secondary);
        }

        .refetchBox {
            display: flex;
            align-items: center;

            .timerBox {
                font-weight: 500;
                font-size: 10px;
                line-height: 140%;
                margin-right: 2px;
                color: var(--gray-text-secondary);
            }

            .btnRefetch {
                background-color: transparent;
            }
        }
    }

    .boxNotFriend {
        border-radius: 16px;
        padding: 12px;
        background: var(--gray-primary);
        display: flex;
        flex-direction: column;
        align-items: center;

        .imgNotFriend {
            margin-bottom: 8px;
        }

        .titleNotFriend {
            font-weight: 700;
            font-size: 18px;
            line-height: 133%;
            margin-bottom: 8px;
        }

        .descrNotFriend {
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            text-align: center;
            color: var(--gray-tretiary);
        }
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .item {
            width: 100%;
        }
    }
}

.boxItem {
    border-radius: 39px;
    padding: 12px;
    background: var(--gray-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .infoFriend {
        display: flex;
        align-items: center;

        .svgBox {
            border-radius: 100px;
            background: var(--gray-secondary);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            margin-right: 4px;
        }

        .boxName {

            .titleName {
                font-weight: 400;
                font-size: 14px;
                line-height: 143%;
            }

            .descrDateInvite {
                font-weight: 500;
                font-size: 10px;
                line-height: 140%;
                color: var(--gray-text-secondary);
            }
        }
    }

    .coinFriend {
        display: flex;

        .imgCoinFriend {
            width: 14px;
            height: 14px;
            margin-right: 4px;
        }

        .descrCoinFriend {
            font-weight: 500;
            font-size: 12px;
            line-height: 133%;
            color: var(--gray-tretiary);
        }
    }
}