.box {
  width: 100%;

  .blockImg {
    display: flex;
    position: relative;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 8px;

    .img {
      width: 100%;
      max-height: 196px;
    }

    .favorites {
      position: absolute;
      top: 10px;
      right: 10px;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 8px;
      padding: 4px;
    }
  }

  .contentBox {
    border-radius: 16px;
    padding: 12px;
    background: var(--gray-primary);
    margin-bottom: 8px;
  }

  .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    margin-bottom: 10px;
  }

  .descr.expand {
    max-height: 1000px;
  }

  .descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    margin-bottom: 3px;
    max-height: 100px;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
  }

  .moreDescr {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--blue-primary);
    background-color: transparent;
  }

  .listTeg {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;

    .itemTeg {
      background: var(--gray-secondary);
      border-radius: 24px;
      padding: 4px 8px;
      font-weight: 500;
      font-size: 12px;
      line-height: 133%;
    }
  }

  .photoBox {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .allPhoto {
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      color: var(--gray-tretiary);
      background-color: transparent;
    }
  }

  .boxBtn {
    display: flex;
    gap: 10px;

    .btn {
      width: 100%;
      border-radius: 8px;
      background: var(--blue-primary);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 13px 13px;
      color: var(--white);
      font-weight: 500;
      font-size: 14px;
      line-height: 114%;
    }
  }
}

.isfavorites path {
  fill: var(--blue-primary);
}

.blurImage {
  height: 169px;
}
